{% extends 'base.html.twig' %}

{% block title %}Edit Brick{% endblock %}

{% block body %}
    <h1>Edit Brick</h1>

    {{ include('brick/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('brick_index') }}">back to list</a>

    {{ include('brick/_delete_form.html.twig') }}
{% endblock %}
