<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        {% endblock %}

        <style>
            .contenedor {
                display: grid; 
                grid-template-columns: repeat(4, 1fr); 
                grid-gap: 40px;
                max-width: 1140px;
            }

            @media screen and (min-width: 410px) {
                .contenedor {
                    grid-template-columns: repeat(1, 1fr); 
                }
            }

            @media screen and (min-width: 490px) {
                .contenedor {
                    grid-template-columns: repeat(2, 1fr); 
                }
            }
            
            @media screen and (min-width: 600px) {
                .contenedor {
                    grid-template-columns: repeat(3, 1fr); 
                }
            }

            @media screen and (min-width: 1140px) {
                .contenedor {
                    grid-template-columns: repeat(4, 1fr); 
                }
            }
        </style>

        {% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}

        <script>
            $(function() {
                $(".atc").click(function() {
                
                    var texto = parseInt($("#elementosCarrito").text());
                    
                    $("#elementosCarrito").text(texto + parseInt($( this ).siblings( ".reset" ).val()));
                    
                    event.preventDefault();
                    
                });
            });
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
